* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    background: hsl(0, 0%, 100%);
}

.header {
    display: flex;
    height: 400px;
    align-items: center;
    width: 90%;
    margin: auto;
}

.title  {
    flex: 1;
    
}

.intro-text {
    margin-right: 2em;
    width: 100%;
}

.intro-text h3 {
    color:hsl(300, 43%, 22%);
    font-size: 2em;
    font-weight: 700;
    width: 50%;
}

.intro-text p {
    color: hsl(303, 10%, 53%);
    font-weight: 400;
    margin-top: 1em;
    width: 80%;
    text-align: justify;
}

.ratings {
    flex: 1;
}

.rating {
    background-color: hsl(300, 24%, 96%);
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 5px;
    width: 70%;
}

.rating p {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 0.8em;
}

.ratings .rating:nth-child(2){
    margin-left: 2em;
}

.ratings .rating:nth-child(3){
    margin-left: 4em;
}

.rating p::before {
    content: url('./images/icon-star.svg');
    margin-right: 2em;
    position: relative;
}

.content {
    display: flex;
    height: 300px;
    width: 90%;
    margin: auto;
    align-items: center;
}

.buyer {
    flex: 1;
    background-color: hsl(300, 43%, 22%);
    margin-right: 1em;
    border-radius: 10px;
    padding: 2em;
    height: 70%;
}

.details {
    display: flex;
    margin-bottom: 2em;
}

img {
    border-radius: 50%;
    height: 2.5em;
    margin-right: 1em;
}

h4 {
    color: hsl(0, 0%, 100%);
    font-size: 0.8em;
}

.name p {
    color: hsl(333, 80%, 67%);
    font-size: 0.8em;
}

.buyer > p {
    color: hsl(0, 0%, 100%);
    font-size: 0.8em;
    line-height: 1.5;
}

.content .buyer:nth-child(2){
    margin-top: 1em;
}

.content .buyer:nth-child(3){
    margin-top: 2em;
}

.big-ellipse {
    position: absolute;
    top: -20%;
    left: -30%;
    z-index: -1;
    opacity: 1;
    height: 100%;
}

.small-ellipse {
    position: absolute;
    bottom: 0px;
    right: -5%;
    z-index: -1;
    height: 100%;
    opacity: 1;
}

@media screen and (max-width:660px){
    .header {
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .intro-text {
        margin: 40px;
        padding-left: 20px;
        width: 100%;
    }
    .intro-text h3{
        margin-left: 1em;
        width: auto;
    }
    .ratings {
        width: 80%;
    }
    .ratings .rating {
        width: auto;
    }
    .ratings .rating:nth-child(2){
        margin-left: 0;
    }
    
    .ratings .rating:nth-child(3){
        margin-left: 0;
    }
    .content {
        flex-direction: column;
        height: auto;
        margin-top: 1em;
        width: auto;
    }
    .buyer {
        margin-left: 1em;
    }
    .big-ellipse {
        display: none;
    }
    .small-ellipse {
        display: none;
    }
}